<p-blockUI [target]="" [blocked]="gameData.blocked">
    <h2 style="color: aliceblue;">oponents turn please wait</h2>
    <i class="pi pi-spinner pi-spin" style="font-size: 3rem;color: aliceblue;"></i>
</p-blockUI>

<div class="wrapper">
  <div class="turn">
    <button pButton routerLink="home" (click)="confirm1()" icon="pi pi-sign-out" class="p-button-rounded p-button-warning p-button-text p-button-lg"></button>
    <h3 style="color: aliceblue;align-self: center;">{{gameData.playerTurn}} turn</h3>
  </div>
  <div class="game">
    <div class="cells">      
        <button *ngFor="let item of gameData.arr;let i=index" (click)="insert(i)" class="cell" type="button">
          <i class="pi {{item}}" style="font-size: 2rem"></i>
        </button>
    </div>
  </div>
  <div class="score-board">
    <h3 style="color: aliceblue;">Your score :{{gameData.yourScore}}</h3>
    <h3 style="color: aliceblue;">Tied :{{gameData.tied}}</h3>
    <h3 style="color: aliceblue;">Oponents score :{{gameData.opoScore}}</h3>
  </div>
  <button (click)="reset()" pButton styleClass="p-button-lg" class="p-button-danger reset" type="button" label="Reset"></button>
  <p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
  <p-messages [value]="msgs"></p-messages>
</div>

